
body {
    background-color: #eeeeea;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -4rem;

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

.container {
    height: 25rem;
    display: flex;
}

.card {
    width: 5rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    filter: grayscale(1);

    img {
        width: 600px;
        object-fit: cover;
        background-position: center;
        border-radius: 2rem 2rem 0 0;
    }

    .row {
        color: white;
        display: flex;
        flex-wrap: nowrap;

        .icon {
            background: var(--dark);
            color: white;
            border-radius: 50%;
            width: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem;
        }

        .description {
            display: flex;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
            height: 80px;
            width: 20rem;
            opacity: 0;
            transform: translateY(30px);
            transition-delay: .3s;
            transition: all .3s ease;

            p {
                color: var(--gray);
                padding-top: 5px;
            }

            h4 {
                text-transform: uppercase;
                font-family: 'Butler', sans-serif;
                letter-spacing: 0.1rem;
                color: var(--highlight-color);
            }
        }

        .buttonContainer {
            position: relative;
            right: -7.5rem;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                font-size: 0.8rem;
                text-decoration: none;
                background: var(--dark);
                color: white;
                border-radius: 50%;
                border: none;
                width: 3rem;
                height: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 15px;
                z-index: 10;

                &:hover {
                    cursor: pointer;
                }
            }

            &::before {
                content: '';
                position: absolute;
                width: 3.5rem;
                height: 3.5rem;
                background: linear-gradient(var(--highlight-color), transparent);
                border-radius: 50%;
                animation: spinJutsu 2s linear infinite;
            }

            @keyframes spinJutsu {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(350deg);
                }
            }
        }
    }
}


input {
    display: none;
}

input:checked + label {
    width: 600px;
    filter: grayscale(0);
}

input:hover {
    filter: grayscale(0);
    box-shadow: 0 0 0.2rem 0.2rem var(--highlight-color);
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}