form {
    display: flex;
    flex-direction: column;
    margin-right: 5vh;
    width: 100%;

    #contact-sender-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        input {
            display: block;
            width: 100%;

            &::placeholder {
                color: var(--gray);
            }

            &:hover {
                box-shadow: none;
                cursor: pointer;
            }
        }
    }

    div > *, textarea, button {
    font-size: 2vh;
    margin-bottom: 1rem;
    font-family: 'Inria Sans', sans-serif, 'Times New Roman';
    font-weight: 200;
    padding: 1.5vh;
    border-bottom: 0.2rem solid transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    outline: none;
    transition: border-bottom-color 0.3s ease-in-out;
    background-color: #292929;
    color: var(--gray);

        &::placeholder {
            color: var(--gray);
        }

        &:focus {
            border-bottom: 0.2rem solid var(--highlight-color);
        }

        &:hover {
            cursor: pointer;
            border-bottom: 0.2rem solid var(--highlight-color);
        }
    }
}

#thanks {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 45vh;
    opacity: 0;

    #thanks-icon {
        width: 15vh;
        height: 15vh;
        background-color: var(--highlight-color);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 6vh;
    }

    h4 {
        font-weight: 400;
        color: white;
    }

    &.active {
        animation: appear 1s ease-in-out, disappear 8.5s 1s ease-in-out; 
        display: flex;
    }

    &.active + form {
        display: none;
    }

    @keyframes appear {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes disappear {
        0% {
            opacity: 1;
        }
        99% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

#result {
    color: white;
}

@media screen and (min-width: 440px) {
    form {
        width: 50%;
    }
}

