:root {
    --blur-ratio: 3vh;
}

#html {
    filter: drop-shadow(0 0 var(--blur-ratio) #F1662A);
}

#css {
    filter: drop-shadow(0 0 var(--blur-ratio) #3aa7d5);
}

#javascript {
    filter: drop-shadow(0 0 var(--blur-ratio) #f1de1d);
}

#python {
    filter: drop-shadow(-1vh -1vh var(--blur-ratio) #417699) drop-shadow(1vh 1vh var(--blur-ratio) #ffd040);
}

#figma {
    filter: drop-shadow(0 -1vh var(--blur-ratio) #ff7262) drop-shadow(0 2vh var(--blur-ratio) #0acf83);
}

#photoshop {
    filter: drop-shadow(0 0 var(--blur-ratio) #31c5f0);
}

#arduino {
    filter: drop-shadow(0 0 var(--blur-ratio) #33aaaf);
}

#csharp {
    filter: drop-shadow(-1vh -1vh var(--blur-ratio) #1e9e25) drop-shadow(1vh 1vh var(--blur-ratio) #05930c);
}

#react {
    filter: drop-shadow(0 0 var(--blur-ratio) #00d8ff);
}

#google {
    filter: drop-shadow(-1vh -1vh var(--blur-ratio) #ff3d00) drop-shadow(1vh 1vh var(--blur-ratio) #4caf50);
}

#github {
    filter: drop-shadow(0 0 var(--blur-ratio) #ffffff);
}

#git {
    filter: drop-shadow(0 0 var(--blur-ratio) #de4c36);
}

/*
Animation for the icons!
*/
@keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
        -webkit-transform: rotate(2deg);
                transform: rotate(2deg);
    }
}