/* 
Used fonts

font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Inria Sans', sans-serif; 300 400 400i 700

JAPANESE
font-family: 'Kosugi Maru', sans-serif;
font-family: 'Murecho', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Murecho:wght@300&display=swap');


.skills {
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas: 
        ". . . ."
        ". . . ."
        ". . . ."; 

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 5rem;
        height: 8rem;
        transition: 0.2s ease-in-out;
        margin-bottom: 1rem;

        &:hover {
            transform: scale(1.1);
        }

        & > :first-child {
            font-size: 5rem;
            width: 100%;
            transition: 0.2s ease-in-out;

            &:hover + p {
                opacity: 1;
            }
        }

        & > p {
            font-size: 1.5rem;
            font-weight: 300;
            margin: 0;
            padding: 0;
            text-align: center;
            opacity: 0;
            transition: 0.2s ease-in-out;
            color: var(--white);
        }
    }
}