/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --highlight-color: #06ADD2;
  --dark: #1D1D1D;
}

.App {
  background-color: var(--dark);
  height: 100vh;
}

* {
  font-family: 'Roboto', sans-serif;
}